<!DOCTYPE html>
<html>
<body>
  <link href="css/bootstrap.min.css" rel="stylesheet">
 <link href="css/style.css" rel="stylesheet">
<h2>Basic HTML Table</h2>

<table >
  <tr>
    <th>StudentID</th>
    <th>Username</th>
    <th>Password</th>
    <th>email</th>
    <th>Delete</th>
  </tr>
  {{#rows}}
  <tr>
    <td>{{s_id}}</td>
<td>{{s_username}}</td>
<td>{{s_password}}</td>
<td>{{s_email}}</td>
<td><form method="post" action="/student/delete/{{s_id}}">
<button type="submit">Delete</button>
</form>


</td>
</tr>
  {{/rows}}
</table>

</body>
</html>
