<!DOCTYPE html>
<html>
 <head>
 <title>Student SignUP1</title>
 <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
<link href="css/style.css" type="text/css" rel="stylesheet">
 </head>

 <body>
 <form method="get" action="/">
   <div class="container">
     <h1>Signup is completed</h1>
     <p>Please click on Sign-in button to login into the account.<a href="/">SignIn</a></p>

   </div>
 </form>

 <script src="js/bootstrap.min.js"></script>
 <script src="js/bootstrap.js"></script>
 </body>


</html>
